{% comment %}
  <div class="custom_footer_social_wrapper">
    <div class="custom_footer_facebook">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
        <g clip-path="url(#clip0_227_1145)"><path d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M21 11H19C18.2044 11 17.4413 11.3161 16.8787 11.8787C16.3161 12.4413 16 13.2044 16 14V28" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 18H20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_227_1145"><rect width="32" height="32" fill="white"/></clipPath></defs>
      </svg>
    </div>
    <div class="custom_footer_instagram">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
        <g clip-path="url(#clip0_227_1150)">
        <path d="M16 21C18.7614 21 21 18.7614 21 16C21 13.2386 18.7614 11 16 11C13.2386 11 11 13.2386 11 16C11 18.7614 13.2386 21 16 21Z" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
        <path d="M22 4H10C6.68629 4 4 6.68629 4 10V22C4 25.3137 6.68629 28 10 28H22C25.3137 28 28 25.3137 28 22V10C28 6.68629 25.3137 4 22 4Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M22.5 11C23.3284 11 24 10.3284 24 9.5C24 8.67157 23.3284 8 22.5 8C21.6716 8 21 8.67157 21 9.5C21 10.3284 21.6716 11 22.5 11Z" fill="white"/>
        </g>
        <defs>
        <clipPath id="clip0_227_1150">
        <rect width="32" height="32" fill="white"/>
        </clipPath>
        </defs>
      </svg>
    </div>
    <div class="custom_footer_tiktok">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
        <g clip-path="url(#clip0_227_1155)">
        <path d="M21 12.75C23.0387 14.2174 25.4881 15.0047 28 15V10C26.1435 10 24.363 9.2625 23.0503 7.94975C21.7375 6.63699 21 4.85652 21 3H16V19.5C15.9997 20.1263 15.8314 20.741 15.5126 21.2801C15.1938 21.8192 14.7362 22.2629 14.1875 22.5648C13.6389 22.8668 13.0192 23.016 12.3932 22.9969C11.7672 22.9778 11.1578 22.7911 10.6285 22.4562C10.0993 22.1213 9.66962 21.6505 9.3843 21.093C9.09898 20.5355 8.96849 19.9116 9.00643 19.2865C9.04437 18.6613 9.24936 18.0578 9.60002 17.5389C9.95067 17.02 10.4341 16.6047 11 16.3363V11C7.02125 11.7088 4 15.3175 4 19.5C4 21.7543 4.89553 23.9163 6.48959 25.5104C8.08365 27.1045 10.2457 28 12.5 28C14.7543 28 16.9163 27.1045 18.5104 25.5104C20.1045 23.9163 21 21.7543 21 19.5V12.75Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
        <clipPath id="clip0_227_1155">
        <rect width="32" height="32" fill="white"/>
        </clipPath>
        </defs>
      </svg>
    </div>
  </div>
{% endcomment %}
<ul class="socials socials--thin">
  <li>
    <a
      href="https://instagram.com/survivorrx"
      title="SurvivorRX on Instagram"
      rel="noopener"
      target="_blank"
      class="social-link"
    >
      <img class="icon icon-instagram" src="{{ 'icon-Instagram.svg' | file_url }}">
      {% comment %}
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-instagram" viewBox="0 0 24 24">
        <path d="M12 16a4 4 0 1 0 0-8 4 4 0 0 0 0 8z" stroke="#000" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 16V8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5z" stroke="#000"></path><path d="m17.5 6.51.01-.011" stroke="#000" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
      {% endcomment %}
      <span class="icon-fallback-text">Instagram</span>
    </a>
  </li>
  <li>
    <a
      href="https://facebook.com/survivorrx"
      title="SurvivorRX on Facebook"
      rel="noopener"
      target="_blank"
      class="social-link"
    >
      <img class="icon icon-facebook" src="{{ 'icon-Facebook.svg' | file_url }}">
      {% comment %}
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-facebook" viewBox="0 0 24 24">
        <path d="M17 2h-3a5 5 0 0 0-5 5v3H6v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3V2z" stroke="#000" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
      {% endcomment %}
      <span class="icon-fallback-text">Facebook</span>
    </a>
  </li>
  
  {% comment %}
  <li>
    <a
      href="https://tiktok.com/survivor_rx"
      title="SurvivorRX on TikTok"
      rel="noopener"
      target="_blank"
      class="social-link"
    >
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tiktok" viewBox="0 0 24 24">
        <path d="M21 8v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5z" stroke="#000" stroke-linecap="round" stroke-linejoin="round"></path><path d="M10 12a3 3 0 1 0 3 3V6c.333 1 1.6 3 4 3" stroke="#000" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
      <span class="icon-fallback-text">TikTok</span>
    </a>
  </li>
    {% endcomment %}

  <li>
    <a
      href="https://www.youtube.com/@survivorrx"
      title="SurvivorRX on YouTube"
      rel="noopener"
      target="_blank"
      class="social-link"
    >
      <img class="icon icon-youtube" src="{{ 'icon-Youtube.svg' | file_url }}">
      {% comment %}
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-youtube" viewBox="0 0 24 24">
        <path d="m14 12-3.5 2v-4l3.5 2z" fill="#000" stroke="#000" stroke-linecap="round" stroke-linejoin="round"></path><path d="M2 12.707v-1.415c0-2.895 0-4.343.905-5.274.906-.932 2.332-.972 5.183-1.053C9.438 4.927 10.818 4.9 12 4.9c1.181 0 2.561.027 3.912.065 2.851.081 4.277.121 5.182 1.053.906.931.906 2.38.906 5.274v1.415c0 2.896 0 4.343-.905 5.275-.906.931-2.331.972-5.183 1.052-1.35.039-2.73.066-3.912.066a141.1 141.1 0 0 1-3.912-.066c-2.851-.08-4.277-.12-5.183-1.052C2 17.05 2 15.602 2 12.708z" stroke="#000"></path>
      </svg>
      {% endcomment %}
      <span class="icon-fallback-text">YouTube</span>
    </a>
  </li>
  <li>
    <a
      href="https://www.linkedin.com/company/survivorrx"
      title="SurvivorRX on Linkedin"
      rel="noopener"
      target="_blank"
      class="social-link"
    >
      <img class="icon icon-linkedin" src="{{ 'icon-LinkedIn.svg' | file_url }}">
      {% comment %}
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-linkedin" viewBox="0 0 24 24">
        <path d="M21 8v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5zM7 17v-7" stroke="#000" stroke-linecap="round" stroke-linejoin="round"></path><path d="M11 17v-3.25M11 10v3.75m0 0c0-3.75 6-3.75 6 0V17M7 7.01l.01-.011" stroke="#000" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
      {% endcomment %}
      <span class="icon-fallback-text">Linkedin</span>
    </a>
  </li>
</ul>
